<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapperold.CallbackinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entityold.Callbackinfo">
    <!--@mbg.generated-->
    <!--@Table callbackinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="dial_no" jdbcType="VARCHAR" property="dialNo" />
    <result column="finally_dial_time" jdbcType="DATE" property="finallyDialTime" />
    <result column="goods_bill_id" jdbcType="VARCHAR" property="goodsBillId" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="success" jdbcType="BIT" property="success" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="write_time" jdbcType="DATE" property="writeTime" />
    <result column="writer" jdbcType="VARCHAR" property="writer" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, bill_id, bill_type, content, dial_no, finally_dial_time, goods_bill_id, locked,
    success, `type`, write_time, writer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from callbackinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from callbackinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entityold.Callbackinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into callbackinfo (bill_id, bill_type, content,
      dial_no, finally_dial_time, goods_bill_id,
      locked, success, `type`, write_time,
      writer)
    values (#{billId,jdbcType=VARCHAR}, #{billType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{dialNo,jdbcType=VARCHAR}, #{finallyDialTime,jdbcType=DATE}, #{goodsBillId,jdbcType=VARCHAR},
      #{locked,jdbcType=BIT}, #{success,jdbcType=BIT}, #{type,jdbcType=VARCHAR}, #{writeTime,jdbcType=DATE},
      #{writer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entityold.Callbackinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into callbackinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="dialNo != null">
        dial_no,
      </if>
      <if test="finallyDialTime != null">
        finally_dial_time,
      </if>
      <if test="goodsBillId != null">
        goods_bill_id,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="success != null">
        success,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="writeTime != null">
        write_time,
      </if>
      <if test="writer != null">
        writer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="dialNo != null">
        #{dialNo,jdbcType=VARCHAR},
      </if>
      <if test="finallyDialTime != null">
        #{finallyDialTime,jdbcType=DATE},
      </if>
      <if test="goodsBillId != null">
        #{goodsBillId,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="success != null">
        #{success,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null">
        #{writeTime,jdbcType=DATE},
      </if>
      <if test="writer != null">
        #{writer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hellomyheart.logistics.management.system.entityold.Callbackinfo">
    <!--@mbg.generated-->
    update callbackinfo
    <set>
      <if test="billId != null">
        bill_id = #{billId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="dialNo != null">
        dial_no = #{dialNo,jdbcType=VARCHAR},
      </if>
      <if test="finallyDialTime != null">
        finally_dial_time = #{finallyDialTime,jdbcType=DATE},
      </if>
      <if test="goodsBillId != null">
        goods_bill_id = #{goodsBillId,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="success != null">
        success = #{success,jdbcType=BIT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null">
        write_time = #{writeTime,jdbcType=DATE},
      </if>
      <if test="writer != null">
        writer = #{writer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hellomyheart.logistics.management.system.entityold.Callbackinfo">
    <!--@mbg.generated-->
    update callbackinfo
    set bill_id = #{billId,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      dial_no = #{dialNo,jdbcType=VARCHAR},
      finally_dial_time = #{finallyDialTime,jdbcType=DATE},
      goods_bill_id = #{goodsBillId,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=BIT},
      success = #{success,jdbcType=BIT},
      `type` = #{type,jdbcType=VARCHAR},
      write_time = #{writeTime,jdbcType=DATE},
      writer = #{writer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByDetails" parameterType="hashmap" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from callbackinfo
      where goods_bill_id = #{goodsBillId}
      and type = #{type}
    </select>
</mapper>
