<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapperold.CarcostMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Carcost">
    <!--@mbg.generated-->
    <!--@Table carcost-->
    <id column="driver_code" jdbcType="VARCHAR" property="driverCode" />
    <result column="add_carriage_total" jdbcType="DOUBLE" property="addCarriageTotal" />
    <result column="allow_carry_weight" jdbcType="DOUBLE" property="allowCarryWeight" />
    <result column="back_bill_code" jdbcType="VARCHAR" property="backBillCode" />
    <result column="balance_time" jdbcType="TIMESTAMP" property="balanceTime" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="car_width" jdbcType="VARCHAR" property="carWidth" />
    <result column="carry_fee_total" jdbcType="DOUBLE" property="carryFeeTotal" />
    <result column="deal_goods_station" jdbcType="VARCHAR" property="dealGoodsStation" />
    <result column="fact_carriage_total" jdbcType="DOUBLE" property="factCarriageTotal" />
    <result column="goods_height" jdbcType="VARCHAR" property="goodsHeight" />
    <result column="load_station" jdbcType="VARCHAR" property="loadStation" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    driver_code, add_carriage_total, allow_carry_weight, back_bill_code, balance_time,
    car_no, car_type, car_width, carry_fee_total, deal_goods_station, fact_carriage_total,
    goods_height, load_station
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from carcost
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from carcost
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.hellomyheart.logistics.management.system.entity.Carcost">
    <!--@mbg.generated-->
    insert into carcost (driver_code, add_carriage_total, allow_carry_weight,
      back_bill_code, balance_time, car_no,
      car_type, car_width, carry_fee_total,
      deal_goods_station, fact_carriage_total, goods_height,
      load_station)
    values (#{driverCode,jdbcType=VARCHAR}, #{addCarriageTotal,jdbcType=DOUBLE}, #{allowCarryWeight,jdbcType=DOUBLE},
      #{backBillCode,jdbcType=VARCHAR}, #{balanceTime,jdbcType=TIMESTAMP}, #{carNo,jdbcType=VARCHAR},
      #{carType,jdbcType=VARCHAR}, #{carWidth,jdbcType=VARCHAR}, #{carryFeeTotal,jdbcType=DOUBLE},
      #{dealGoodsStation,jdbcType=VARCHAR}, #{factCarriageTotal,jdbcType=DOUBLE}, #{goodsHeight,jdbcType=VARCHAR},
      #{loadStation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hellomyheart.logistics.management.system.entity.Carcost">
    <!--@mbg.generated-->
    insert into carcost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="driverCode != null">
        driver_code,
      </if>
      <if test="addCarriageTotal != null">
        add_carriage_total,
      </if>
      <if test="allowCarryWeight != null">
        allow_carry_weight,
      </if>
      <if test="backBillCode != null">
        back_bill_code,
      </if>
      <if test="balanceTime != null">
        balance_time,
      </if>
      <if test="carNo != null">
        car_no,
      </if>
      <if test="carType != null">
        car_type,
      </if>
      <if test="carWidth != null">
        car_width,
      </if>
      <if test="carryFeeTotal != null">
        carry_fee_total,
      </if>
      <if test="dealGoodsStation != null">
        deal_goods_station,
      </if>
      <if test="factCarriageTotal != null">
        fact_carriage_total,
      </if>
      <if test="goodsHeight != null">
        goods_height,
      </if>
      <if test="loadStation != null">
        load_station,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="driverCode != null">
        #{driverCode,jdbcType=VARCHAR},
      </if>
      <if test="addCarriageTotal != null">
        #{addCarriageTotal,jdbcType=DOUBLE},
      </if>
      <if test="allowCarryWeight != null">
        #{allowCarryWeight,jdbcType=DOUBLE},
      </if>
      <if test="backBillCode != null">
        #{backBillCode,jdbcType=VARCHAR},
      </if>
      <if test="balanceTime != null">
        #{balanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carWidth != null">
        #{carWidth,jdbcType=VARCHAR},
      </if>
      <if test="carryFeeTotal != null">
        #{carryFeeTotal,jdbcType=DOUBLE},
      </if>
      <if test="dealGoodsStation != null">
        #{dealGoodsStation,jdbcType=VARCHAR},
      </if>
      <if test="factCarriageTotal != null">
        #{factCarriageTotal,jdbcType=DOUBLE},
      </if>
      <if test="goodsHeight != null">
        #{goodsHeight,jdbcType=VARCHAR},
      </if>
      <if test="loadStation != null">
        #{loadStation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hellomyheart.logistics.management.system.entity.Carcost">
    <!--@mbg.generated-->
    update carcost
    <set>
      <if test="addCarriageTotal != null">
        add_carriage_total = #{addCarriageTotal,jdbcType=DOUBLE},
      </if>
      <if test="allowCarryWeight != null">
        allow_carry_weight = #{allowCarryWeight,jdbcType=DOUBLE},
      </if>
      <if test="backBillCode != null">
        back_bill_code = #{backBillCode,jdbcType=VARCHAR},
      </if>
      <if test="balanceTime != null">
        balance_time = #{balanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carNo != null">
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carWidth != null">
        car_width = #{carWidth,jdbcType=VARCHAR},
      </if>
      <if test="carryFeeTotal != null">
        carry_fee_total = #{carryFeeTotal,jdbcType=DOUBLE},
      </if>
      <if test="dealGoodsStation != null">
        deal_goods_station = #{dealGoodsStation,jdbcType=VARCHAR},
      </if>
      <if test="factCarriageTotal != null">
        fact_carriage_total = #{factCarriageTotal,jdbcType=DOUBLE},
      </if>
      <if test="goodsHeight != null">
        goods_height = #{goodsHeight,jdbcType=VARCHAR},
      </if>
      <if test="loadStation != null">
        load_station = #{loadStation,jdbcType=VARCHAR},
      </if>
    </set>
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hellomyheart.logistics.management.system.entity.Carcost">
    <!--@mbg.generated-->
    update carcost
    set add_carriage_total = #{addCarriageTotal,jdbcType=DOUBLE},
      allow_carry_weight = #{allowCarryWeight,jdbcType=DOUBLE},
      back_bill_code = #{backBillCode,jdbcType=VARCHAR},
      balance_time = #{balanceTime,jdbcType=TIMESTAMP},
      car_no = #{carNo,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      car_width = #{carWidth,jdbcType=VARCHAR},
      carry_fee_total = #{carryFeeTotal,jdbcType=DOUBLE},
      deal_goods_station = #{dealGoodsStation,jdbcType=VARCHAR},
      fact_carriage_total = #{factCarriageTotal,jdbcType=DOUBLE},
      goods_height = #{goodsHeight,jdbcType=VARCHAR},
      load_station = #{loadStation,jdbcType=VARCHAR}
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </update>
</mapper>
