<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapperold.CustomerreceiptinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entityold.Customerreceiptinfo">
    <!--@mbg.generated-->
    <!--@Table customerreceiptinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="carry_bill_event_id" jdbcType="INTEGER" property="carryBillEventId" />
    <result column="check_goods_record" jdbcType="VARCHAR" property="checkGoodsRecord" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="receive_goods_date" jdbcType="DATE" property="receiveGoodsDate" />
    <result column="receive_goods_person" jdbcType="VARCHAR" property="receiveGoodsPerson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, carry_bill_event_id, check_goods_record, customer, goods_bill_code, receive_goods_date,
    receive_goods_person
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from customerreceiptinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from customerreceiptinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entityold.Customerreceiptinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customerreceiptinfo (carry_bill_event_id, check_goods_record,
      customer, goods_bill_code, receive_goods_date,
      receive_goods_person)
    values (#{carryBillEventId,jdbcType=INTEGER}, #{checkGoodsRecord,jdbcType=VARCHAR},
      #{customer,jdbcType=VARCHAR}, #{goodsBillCode,jdbcType=VARCHAR}, #{receiveGoodsDate,jdbcType=DATE},
      #{receiveGoodsPerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entityold.Customerreceiptinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customerreceiptinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carryBillEventId != null">
        carry_bill_event_id,
      </if>
      <if test="checkGoodsRecord != null">
        check_goods_record,
      </if>
      <if test="customer != null">
        customer,
      </if>
      <if test="goodsBillCode != null">
        goods_bill_code,
      </if>
      <if test="receiveGoodsDate != null">
        receive_goods_date,
      </if>
      <if test="receiveGoodsPerson != null">
        receive_goods_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carryBillEventId != null">
        #{carryBillEventId,jdbcType=INTEGER},
      </if>
      <if test="checkGoodsRecord != null">
        #{checkGoodsRecord,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="goodsBillCode != null">
        #{goodsBillCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsDate != null">
        #{receiveGoodsDate,jdbcType=DATE},
      </if>
      <if test="receiveGoodsPerson != null">
        #{receiveGoodsPerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hellomyheart.logistics.management.system.entityold.Customerreceiptinfo">
    <!--@mbg.generated-->
    update customerreceiptinfo
    <set>
      <if test="carryBillEventId != null">
        carry_bill_event_id = #{carryBillEventId,jdbcType=INTEGER},
      </if>
      <if test="checkGoodsRecord != null">
        check_goods_record = #{checkGoodsRecord,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="goodsBillCode != null">
        goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsDate != null">
        receive_goods_date = #{receiveGoodsDate,jdbcType=DATE},
      </if>
      <if test="receiveGoodsPerson != null">
        receive_goods_person = #{receiveGoodsPerson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hellomyheart.logistics.management.system.entityold.Customerreceiptinfo">
    <!--@mbg.generated-->
    update customerreceiptinfo
    set carry_bill_event_id = #{carryBillEventId,jdbcType=INTEGER},
      check_goods_record = #{checkGoodsRecord,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR},
      receive_goods_date = #{receiveGoodsDate,jdbcType=DATE},
      receive_goods_person = #{receiveGoodsPerson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
