<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapperold.FinancefeeMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Financefee">
    <!--@mbg.generated-->
    <!--@Table financefee-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fee" jdbcType="DOUBLE" property="fee" />
    <result column="payout_month" jdbcType="VARCHAR" property="payoutMonth" />
    <result column="write_date" jdbcType="DATE" property="writeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, fee, payout_month, write_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from financefee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from financefee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entity.Financefee" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into financefee (fee, payout_month, write_date
      )
    values (#{fee,jdbcType=DOUBLE}, #{payoutMonth,jdbcType=VARCHAR}, #{writeDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entity.Financefee" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into financefee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fee != null">
        fee,
      </if>
      <if test="payoutMonth != null">
        payout_month,
      </if>
      <if test="writeDate != null">
        write_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fee != null">
        #{fee,jdbcType=DOUBLE},
      </if>
      <if test="payoutMonth != null">
        #{payoutMonth,jdbcType=VARCHAR},
      </if>
      <if test="writeDate != null">
        #{writeDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hellomyheart.logistics.management.system.entity.Financefee">
    <!--@mbg.generated-->
    update financefee
    <set>
      <if test="fee != null">
        fee = #{fee,jdbcType=DOUBLE},
      </if>
      <if test="payoutMonth != null">
        payout_month = #{payoutMonth,jdbcType=VARCHAR},
      </if>
      <if test="writeDate != null">
        write_date = #{writeDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hellomyheart.logistics.management.system.entity.Financefee">
    <!--@mbg.generated-->
    update financefee
    set fee = #{fee,jdbcType=DOUBLE},
      payout_month = #{payoutMonth,jdbcType=VARCHAR},
      write_date = #{writeDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
