<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapperold.GoodsbillMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entityold.Goodsbill">
    <!--@mbg.generated-->
    <!--@Table goodsbill-->
    <id column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="accept_procedure_rate" jdbcType="VARCHAR" property="acceptProcedureRate" />
    <result column="accept_station" jdbcType="VARCHAR" property="acceptStation" />
    <result column="carriage" jdbcType="DOUBLE" property="carriage" />
    <result column="carry_goods_fee" jdbcType="DOUBLE" property="carryGoodsFee" />
    <result column="employee_code" jdbcType="VARCHAR" property="employeeCode" />
    <result column="fact_deal_date" jdbcType="DATE" property="factDealDate" />
    <result column="fetch_goods_mode" jdbcType="VARCHAR" property="fetchGoodsMode" />
    <result column="help_accept_payment" jdbcType="DOUBLE" property="helpAcceptPayment" />
    <result column="if_audit" jdbcType="BIT" property="ifAudit" />
    <result column="if_settle_accounts" jdbcType="BIT" property="ifSettleAccounts" />
    <result column="insurance" jdbcType="DOUBLE" property="insurance" />
    <result column="money_of_change_pay" jdbcType="DOUBLE" property="moneyOfChangePay" />
    <result column="pay_kickback" jdbcType="DOUBLE" property="payKickback" />
    <result column="pay_mode" jdbcType="VARCHAR" property="payMode" />
    <result column="predelivery_date" jdbcType="DATE" property="predeliveryDate" />
    <result column="receive_goods_addr" jdbcType="VARCHAR" property="receiveGoodsAddr" />
    <result column="receive_goods_customer" jdbcType="VARCHAR" property="receiveGoodsCustomer" />
    <result column="receive_goods_customer_addr" jdbcType="VARCHAR" property="receiveGoodsCustomerAddr" />
    <result column="receive_goods_customer_code" jdbcType="VARCHAR" property="receiveGoodsCustomerCode" />
    <result column="receive_goods_customer_tel" jdbcType="VARCHAR" property="receiveGoodsCustomerTel" />
    <result column="reduce_fund" jdbcType="DOUBLE" property="reduceFund" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="send_goods_addr" jdbcType="VARCHAR" property="sendGoodsAddr" />
    <result column="send_goods_customer" jdbcType="VARCHAR" property="sendGoodsCustomer" />
    <result column="send_goods_customer_addr" jdbcType="VARCHAR" property="sendGoodsCustomerAddr" />
    <result column="send_goods_customer_no" jdbcType="VARCHAR" property="sendGoodsCustomerNo" />
    <result column="send_goods_customer_tel" jdbcType="VARCHAR" property="sendGoodsCustomerTel" />
    <result column="send_goods_date" jdbcType="DATE" property="sendGoodsDate" />
    <result column="transfer_fee" jdbcType="DOUBLE" property="transferFee" />
    <result column="transfer_station" jdbcType="VARCHAR" property="transferStation" />
    <result column="validity" jdbcType="BIT" property="validity" />
    <result column="write_bill_person" jdbcType="VARCHAR" property="writeBillPerson" />
    <result column="write_date" jdbcType="DATE" property="writeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_bill_code, accept_procedure_rate, accept_station, carriage, carry_goods_fee,
    employee_code, fact_deal_date, fetch_goods_mode, help_accept_payment, if_audit, if_settle_accounts,
    insurance, money_of_change_pay, pay_kickback, pay_mode, predelivery_date, receive_goods_addr,
    receive_goods_customer, receive_goods_customer_addr, receive_goods_customer_code,
    receive_goods_customer_tel, reduce_fund, remark, send_goods_addr, send_goods_customer,
    send_goods_customer_addr, send_goods_customer_no, send_goods_customer_tel, send_goods_date,
    transfer_fee, transfer_station, validity, write_bill_person, write_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from goodsbill
    where goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from goodsbill
    where goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.hellomyheart.logistics.management.system.entityold.Goodsbill">
    <!--@mbg.generated-->
    insert into goodsbill (goods_bill_code, accept_procedure_rate,
      accept_station, carriage, carry_goods_fee,
      employee_code, fact_deal_date, fetch_goods_mode,
      help_accept_payment, if_audit, if_settle_accounts,
      insurance, money_of_change_pay, pay_kickback,
      pay_mode, predelivery_date, receive_goods_addr,
      receive_goods_customer, receive_goods_customer_addr,
      receive_goods_customer_code, receive_goods_customer_tel,
      reduce_fund, remark, send_goods_addr,
      send_goods_customer, send_goods_customer_addr,
      send_goods_customer_no, send_goods_customer_tel,
      send_goods_date, transfer_fee, transfer_station,
      validity, write_bill_person, write_date
      )
    values (#{goodsBillCode,jdbcType=VARCHAR}, #{acceptProcedureRate,jdbcType=VARCHAR},
      #{acceptStation,jdbcType=VARCHAR}, #{carriage,jdbcType=DOUBLE}, #{carryGoodsFee,jdbcType=DOUBLE},
      #{employeeCode,jdbcType=VARCHAR}, #{factDealDate,jdbcType=DATE}, #{fetchGoodsMode,jdbcType=VARCHAR},
      #{helpAcceptPayment,jdbcType=DOUBLE}, #{ifAudit,jdbcType=BIT}, #{ifSettleAccounts,jdbcType=BIT},
      #{insurance,jdbcType=DOUBLE}, #{moneyOfChangePay,jdbcType=DOUBLE}, #{payKickback,jdbcType=DOUBLE},
      #{payMode,jdbcType=VARCHAR}, #{predeliveryDate,jdbcType=DATE}, #{receiveGoodsAddr,jdbcType=VARCHAR},
      #{receiveGoodsCustomer,jdbcType=VARCHAR}, #{receiveGoodsCustomerAddr,jdbcType=VARCHAR},
      #{receiveGoodsCustomerCode,jdbcType=VARCHAR}, #{receiveGoodsCustomerTel,jdbcType=VARCHAR},
      #{reduceFund,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{sendGoodsAddr,jdbcType=VARCHAR},
      #{sendGoodsCustomer,jdbcType=VARCHAR}, #{sendGoodsCustomerAddr,jdbcType=VARCHAR},
      #{sendGoodsCustomerNo,jdbcType=VARCHAR}, #{sendGoodsCustomerTel,jdbcType=VARCHAR},
      #{sendGoodsDate,jdbcType=DATE}, #{transferFee,jdbcType=DOUBLE}, #{transferStation,jdbcType=VARCHAR},
      #{validity,jdbcType=BIT}, #{writeBillPerson,jdbcType=VARCHAR}, #{writeDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hellomyheart.logistics.management.system.entityold.Goodsbill">
    <!--@mbg.generated-->
    insert into goodsbill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsBillCode != null">
        goods_bill_code,
      </if>
      <if test="acceptProcedureRate != null">
        accept_procedure_rate,
      </if>
      <if test="acceptStation != null">
        accept_station,
      </if>
      <if test="carriage != null">
        carriage,
      </if>
      <if test="carryGoodsFee != null">
        carry_goods_fee,
      </if>
      <if test="employeeCode != null">
        employee_code,
      </if>
      <if test="factDealDate != null">
        fact_deal_date,
      </if>
      <if test="fetchGoodsMode != null">
        fetch_goods_mode,
      </if>
      <if test="helpAcceptPayment != null">
        help_accept_payment,
      </if>
      <if test="ifAudit != null">
        if_audit,
      </if>
      <if test="ifSettleAccounts != null">
        if_settle_accounts,
      </if>
      <if test="insurance != null">
        insurance,
      </if>
      <if test="moneyOfChangePay != null">
        money_of_change_pay,
      </if>
      <if test="payKickback != null">
        pay_kickback,
      </if>
      <if test="payMode != null">
        pay_mode,
      </if>
      <if test="predeliveryDate != null">
        predelivery_date,
      </if>
      <if test="receiveGoodsAddr != null">
        receive_goods_addr,
      </if>
      <if test="receiveGoodsCustomer != null">
        receive_goods_customer,
      </if>
      <if test="receiveGoodsCustomerAddr != null">
        receive_goods_customer_addr,
      </if>
      <if test="receiveGoodsCustomerCode != null">
        receive_goods_customer_code,
      </if>
      <if test="receiveGoodsCustomerTel != null">
        receive_goods_customer_tel,
      </if>
      <if test="reduceFund != null">
        reduce_fund,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sendGoodsAddr != null">
        send_goods_addr,
      </if>
      <if test="sendGoodsCustomer != null">
        send_goods_customer,
      </if>
      <if test="sendGoodsCustomerAddr != null">
        send_goods_customer_addr,
      </if>
      <if test="sendGoodsCustomerNo != null">
        send_goods_customer_no,
      </if>
      <if test="sendGoodsCustomerTel != null">
        send_goods_customer_tel,
      </if>
      <if test="sendGoodsDate != null">
        send_goods_date,
      </if>
      <if test="transferFee != null">
        transfer_fee,
      </if>
      <if test="transferStation != null">
        transfer_station,
      </if>
      <if test="validity != null">
        validity,
      </if>
      <if test="writeBillPerson != null">
        write_bill_person,
      </if>
      <if test="writeDate != null">
        write_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsBillCode != null">
        #{goodsBillCode,jdbcType=VARCHAR},
      </if>
      <if test="acceptProcedureRate != null">
        #{acceptProcedureRate,jdbcType=VARCHAR},
      </if>
      <if test="acceptStation != null">
        #{acceptStation,jdbcType=VARCHAR},
      </if>
      <if test="carriage != null">
        #{carriage,jdbcType=DOUBLE},
      </if>
      <if test="carryGoodsFee != null">
        #{carryGoodsFee,jdbcType=DOUBLE},
      </if>
      <if test="employeeCode != null">
        #{employeeCode,jdbcType=VARCHAR},
      </if>
      <if test="factDealDate != null">
        #{factDealDate,jdbcType=DATE},
      </if>
      <if test="fetchGoodsMode != null">
        #{fetchGoodsMode,jdbcType=VARCHAR},
      </if>
      <if test="helpAcceptPayment != null">
        #{helpAcceptPayment,jdbcType=DOUBLE},
      </if>
      <if test="ifAudit != null">
        #{ifAudit,jdbcType=BIT},
      </if>
      <if test="ifSettleAccounts != null">
        #{ifSettleAccounts,jdbcType=BIT},
      </if>
      <if test="insurance != null">
        #{insurance,jdbcType=DOUBLE},
      </if>
      <if test="moneyOfChangePay != null">
        #{moneyOfChangePay,jdbcType=DOUBLE},
      </if>
      <if test="payKickback != null">
        #{payKickback,jdbcType=DOUBLE},
      </if>
      <if test="payMode != null">
        #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="predeliveryDate != null">
        #{predeliveryDate,jdbcType=DATE},
      </if>
      <if test="receiveGoodsAddr != null">
        #{receiveGoodsAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomer != null">
        #{receiveGoodsCustomer,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomerAddr != null">
        #{receiveGoodsCustomerAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomerCode != null">
        #{receiveGoodsCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomerTel != null">
        #{receiveGoodsCustomerTel,jdbcType=VARCHAR},
      </if>
      <if test="reduceFund != null">
        #{reduceFund,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsAddr != null">
        #{sendGoodsAddr,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomer != null">
        #{sendGoodsCustomer,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomerAddr != null">
        #{sendGoodsCustomerAddr,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomerNo != null">
        #{sendGoodsCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomerTel != null">
        #{sendGoodsCustomerTel,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsDate != null">
        #{sendGoodsDate,jdbcType=DATE},
      </if>
      <if test="transferFee != null">
        #{transferFee,jdbcType=DOUBLE},
      </if>
      <if test="transferStation != null">
        #{transferStation,jdbcType=VARCHAR},
      </if>
      <if test="validity != null">
        #{validity,jdbcType=BIT},
      </if>
      <if test="writeBillPerson != null">
        #{writeBillPerson,jdbcType=VARCHAR},
      </if>
      <if test="writeDate != null">
        #{writeDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hellomyheart.logistics.management.system.entityold.Goodsbill">
    <!--@mbg.generated-->
    update goodsbill
    <set>
      <if test="acceptProcedureRate != null">
        accept_procedure_rate = #{acceptProcedureRate,jdbcType=VARCHAR},
      </if>
      <if test="acceptStation != null">
        accept_station = #{acceptStation,jdbcType=VARCHAR},
      </if>
      <if test="carriage != null">
        carriage = #{carriage,jdbcType=DOUBLE},
      </if>
      <if test="carryGoodsFee != null">
        carry_goods_fee = #{carryGoodsFee,jdbcType=DOUBLE},
      </if>
      <if test="employeeCode != null">
        employee_code = #{employeeCode,jdbcType=VARCHAR},
      </if>
      <if test="factDealDate != null">
        fact_deal_date = #{factDealDate,jdbcType=DATE},
      </if>
      <if test="fetchGoodsMode != null">
        fetch_goods_mode = #{fetchGoodsMode,jdbcType=VARCHAR},
      </if>
      <if test="helpAcceptPayment != null">
        help_accept_payment = #{helpAcceptPayment,jdbcType=DOUBLE},
      </if>
      <if test="ifAudit != null">
        if_audit = #{ifAudit,jdbcType=BIT},
      </if>
      <if test="ifSettleAccounts != null">
        if_settle_accounts = #{ifSettleAccounts,jdbcType=BIT},
      </if>
      <if test="insurance != null">
        insurance = #{insurance,jdbcType=DOUBLE},
      </if>
      <if test="moneyOfChangePay != null">
        money_of_change_pay = #{moneyOfChangePay,jdbcType=DOUBLE},
      </if>
      <if test="payKickback != null">
        pay_kickback = #{payKickback,jdbcType=DOUBLE},
      </if>
      <if test="payMode != null">
        pay_mode = #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="predeliveryDate != null">
        predelivery_date = #{predeliveryDate,jdbcType=DATE},
      </if>
      <if test="receiveGoodsAddr != null">
        receive_goods_addr = #{receiveGoodsAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomer != null">
        receive_goods_customer = #{receiveGoodsCustomer,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomerAddr != null">
        receive_goods_customer_addr = #{receiveGoodsCustomerAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomerCode != null">
        receive_goods_customer_code = #{receiveGoodsCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveGoodsCustomerTel != null">
        receive_goods_customer_tel = #{receiveGoodsCustomerTel,jdbcType=VARCHAR},
      </if>
      <if test="reduceFund != null">
        reduce_fund = #{reduceFund,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsAddr != null">
        send_goods_addr = #{sendGoodsAddr,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomer != null">
        send_goods_customer = #{sendGoodsCustomer,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomerAddr != null">
        send_goods_customer_addr = #{sendGoodsCustomerAddr,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomerNo != null">
        send_goods_customer_no = #{sendGoodsCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsCustomerTel != null">
        send_goods_customer_tel = #{sendGoodsCustomerTel,jdbcType=VARCHAR},
      </if>
      <if test="sendGoodsDate != null">
        send_goods_date = #{sendGoodsDate,jdbcType=DATE},
      </if>
      <if test="transferFee != null">
        transfer_fee = #{transferFee,jdbcType=DOUBLE},
      </if>
      <if test="transferStation != null">
        transfer_station = #{transferStation,jdbcType=VARCHAR},
      </if>
      <if test="validity != null">
        validity = #{validity,jdbcType=BIT},
      </if>
      <if test="writeBillPerson != null">
        write_bill_person = #{writeBillPerson,jdbcType=VARCHAR},
      </if>
      <if test="writeDate != null">
        write_date = #{writeDate,jdbcType=DATE},
      </if>
    </set>
    where goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hellomyheart.logistics.management.system.entityold.Goodsbill">
    <!--@mbg.generated-->
    update goodsbill
    set accept_procedure_rate = #{acceptProcedureRate,jdbcType=VARCHAR},
      accept_station = #{acceptStation,jdbcType=VARCHAR},
      carriage = #{carriage,jdbcType=DOUBLE},
      carry_goods_fee = #{carryGoodsFee,jdbcType=DOUBLE},
      employee_code = #{employeeCode,jdbcType=VARCHAR},
      fact_deal_date = #{factDealDate,jdbcType=DATE},
      fetch_goods_mode = #{fetchGoodsMode,jdbcType=VARCHAR},
      help_accept_payment = #{helpAcceptPayment,jdbcType=DOUBLE},
      if_audit = #{ifAudit,jdbcType=BIT},
      if_settle_accounts = #{ifSettleAccounts,jdbcType=BIT},
      insurance = #{insurance,jdbcType=DOUBLE},
      money_of_change_pay = #{moneyOfChangePay,jdbcType=DOUBLE},
      pay_kickback = #{payKickback,jdbcType=DOUBLE},
      pay_mode = #{payMode,jdbcType=VARCHAR},
      predelivery_date = #{predeliveryDate,jdbcType=DATE},
      receive_goods_addr = #{receiveGoodsAddr,jdbcType=VARCHAR},
      receive_goods_customer = #{receiveGoodsCustomer,jdbcType=VARCHAR},
      receive_goods_customer_addr = #{receiveGoodsCustomerAddr,jdbcType=VARCHAR},
      receive_goods_customer_code = #{receiveGoodsCustomerCode,jdbcType=VARCHAR},
      receive_goods_customer_tel = #{receiveGoodsCustomerTel,jdbcType=VARCHAR},
      reduce_fund = #{reduceFund,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      send_goods_addr = #{sendGoodsAddr,jdbcType=VARCHAR},
      send_goods_customer = #{sendGoodsCustomer,jdbcType=VARCHAR},
      send_goods_customer_addr = #{sendGoodsCustomerAddr,jdbcType=VARCHAR},
      send_goods_customer_no = #{sendGoodsCustomerNo,jdbcType=VARCHAR},
      send_goods_customer_tel = #{sendGoodsCustomerTel,jdbcType=VARCHAR},
      send_goods_date = #{sendGoodsDate,jdbcType=DATE},
      transfer_fee = #{transferFee,jdbcType=DOUBLE},
      transfer_station = #{transferStation,jdbcType=VARCHAR},
      validity = #{validity,jdbcType=BIT},
      write_bill_person = #{writeBillPerson,jdbcType=VARCHAR},
      write_date = #{writeDate,jdbcType=DATE}
    where goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR}
  </update>
</mapper>
