<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapperold.TransferinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entityold.Transferinfo">
    <!--@mbg.generated-->
    <!--@Table transferinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="after_transfer_bill" jdbcType="VARCHAR" property="afterTransferBill" />
    <result column="check_time" jdbcType="DATE" property="checkTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="transfer_addr" jdbcType="VARCHAR" property="transferAddr" />
    <result column="transfer_check" jdbcType="VARCHAR" property="transferCheck" />
    <result column="transfer_company" jdbcType="VARCHAR" property="transferCompany" />
    <result column="transfer_fee" jdbcType="DOUBLE" property="transferFee" />
    <result column="transfer_station" jdbcType="VARCHAR" property="transferStation" />
    <result column="transfer_station_tel" jdbcType="VARCHAR" property="transferStationTel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, after_transfer_bill, check_time, description, goods_bill_code, transfer_addr,
    transfer_check, transfer_company, transfer_fee, transfer_station, transfer_station_tel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from transferinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from transferinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entityold.Transferinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into transferinfo (after_transfer_bill, check_time, description,
      goods_bill_code, transfer_addr, transfer_check,
      transfer_company, transfer_fee, transfer_station,
      transfer_station_tel)
    values (#{afterTransferBill,jdbcType=VARCHAR}, #{checkTime,jdbcType=DATE}, #{description,jdbcType=VARCHAR},
      #{goodsBillCode,jdbcType=VARCHAR}, #{transferAddr,jdbcType=VARCHAR}, #{transferCheck,jdbcType=VARCHAR},
      #{transferCompany,jdbcType=VARCHAR}, #{transferFee,jdbcType=DOUBLE}, #{transferStation,jdbcType=VARCHAR},
      #{transferStationTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.logistics.management.system.entityold.Transferinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into transferinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="afterTransferBill != null">
        after_transfer_bill,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="goodsBillCode != null">
        goods_bill_code,
      </if>
      <if test="transferAddr != null">
        transfer_addr,
      </if>
      <if test="transferCheck != null">
        transfer_check,
      </if>
      <if test="transferCompany != null">
        transfer_company,
      </if>
      <if test="transferFee != null">
        transfer_fee,
      </if>
      <if test="transferStation != null">
        transfer_station,
      </if>
      <if test="transferStationTel != null">
        transfer_station_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="afterTransferBill != null">
        #{afterTransferBill,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=DATE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="goodsBillCode != null">
        #{goodsBillCode,jdbcType=VARCHAR},
      </if>
      <if test="transferAddr != null">
        #{transferAddr,jdbcType=VARCHAR},
      </if>
      <if test="transferCheck != null">
        #{transferCheck,jdbcType=VARCHAR},
      </if>
      <if test="transferCompany != null">
        #{transferCompany,jdbcType=VARCHAR},
      </if>
      <if test="transferFee != null">
        #{transferFee,jdbcType=DOUBLE},
      </if>
      <if test="transferStation != null">
        #{transferStation,jdbcType=VARCHAR},
      </if>
      <if test="transferStationTel != null">
        #{transferStationTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hellomyheart.logistics.management.system.entityold.Transferinfo">
    <!--@mbg.generated-->
    update transferinfo
    <set>
      <if test="afterTransferBill != null">
        after_transfer_bill = #{afterTransferBill,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=DATE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="goodsBillCode != null">
        goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR},
      </if>
      <if test="transferAddr != null">
        transfer_addr = #{transferAddr,jdbcType=VARCHAR},
      </if>
      <if test="transferCheck != null">
        transfer_check = #{transferCheck,jdbcType=VARCHAR},
      </if>
      <if test="transferCompany != null">
        transfer_company = #{transferCompany,jdbcType=VARCHAR},
      </if>
      <if test="transferFee != null">
        transfer_fee = #{transferFee,jdbcType=DOUBLE},
      </if>
      <if test="transferStation != null">
        transfer_station = #{transferStation,jdbcType=VARCHAR},
      </if>
      <if test="transferStationTel != null">
        transfer_station_tel = #{transferStationTel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hellomyheart.logistics.management.system.entityold.Transferinfo">
    <!--@mbg.generated-->
    update transferinfo
    set after_transfer_bill = #{afterTransferBill,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=DATE},
      description = #{description,jdbcType=VARCHAR},
      goods_bill_code = #{goodsBillCode,jdbcType=VARCHAR},
      transfer_addr = #{transferAddr,jdbcType=VARCHAR},
      transfer_check = #{transferCheck,jdbcType=VARCHAR},
      transfer_company = #{transferCompany,jdbcType=VARCHAR},
      transfer_fee = #{transferFee,jdbcType=DOUBLE},
      transfer_station = #{transferStation,jdbcType=VARCHAR},
      transfer_station_tel = #{transferStationTel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
