<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.BillinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Billinfo">
    <!--@mbg.generated-->
    <!--@Table billinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="accept_station" jdbcType="VARCHAR" property="acceptStation" />
    <result column="bill_code" jdbcType="VARCHAR" property="billCode" />
    <result column="bill_state" jdbcType="VARCHAR" property="billState" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="write_date" jdbcType="TIMESTAMP" property="writeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, accept_station, bill_code, bill_state, bill_type, write_date
  </sql>
</mapper>
