<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.BillreleaseMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Billrelease">
    <!--@mbg.generated-->
    <!--@Table billrelease-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="accept_station" jdbcType="VARCHAR" property="acceptStation" />
    <result column="bill_code" jdbcType="VARCHAR" property="billCode" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="receive_bill_person" jdbcType="VARCHAR" property="receiveBillPerson" />
    <result column="receive_bill_time" jdbcType="DATE" property="receiveBillTime" />
    <result column="release_person" jdbcType="VARCHAR" property="releasePerson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, accept_station, bill_code, bill_type, receive_bill_person, receive_bill_time,
    release_person
  </sql>
</mapper>
