<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.CarcostMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Carcost">
    <!--@mbg.generated-->
    <!--@Table carcost-->
    <id column="driver_code" jdbcType="VARCHAR" property="driverCode" />
    <result column="add_carriage_total" jdbcType="DOUBLE" property="addCarriageTotal" />
    <result column="allow_carry_weight" jdbcType="DOUBLE" property="allowCarryWeight" />
    <result column="back_bill_code" jdbcType="VARCHAR" property="backBillCode" />
    <result column="balance_time" jdbcType="TIMESTAMP" property="balanceTime" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="car_width" jdbcType="VARCHAR" property="carWidth" />
    <result column="carry_fee_total" jdbcType="DOUBLE" property="carryFeeTotal" />
    <result column="deal_goods_station" jdbcType="VARCHAR" property="dealGoodsStation" />
    <result column="fact_carriage_total" jdbcType="DOUBLE" property="factCarriageTotal" />
    <result column="goods_height" jdbcType="VARCHAR" property="goodsHeight" />
    <result column="load_station" jdbcType="VARCHAR" property="loadStation" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    driver_code, add_carriage_total, allow_carry_weight, back_bill_code, balance_time,
    car_no, car_type, car_width, carry_fee_total, deal_goods_station, fact_carriage_total,
    goods_height, load_station
  </sql>
</mapper>
