<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.CargoreceiptMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Cargoreceipt">
    <!--@mbg.generated-->
    <!--@Table cargoreceipt-->
    <id column="goods_revert_bill_code" jdbcType="VARCHAR" property="goodsRevertBillCode" />
    <result column="accept_station" jdbcType="VARCHAR" property="acceptStation" />
    <result column="all_carriage" jdbcType="DOUBLE" property="allCarriage" />
    <result column="arrive_time" jdbcType="DATE" property="arriveTime" />
    <result column="back_bill_state" jdbcType="VARCHAR" property="backBillState" />
    <result column="carriage_banlance_mode" jdbcType="VARCHAR" property="carriageBanlanceMode" />
    <result column="carriage_mode" jdbcType="VARCHAR" property="carriageMode" />
    <result column="carry_goods_bill_deposit" jdbcType="DOUBLE" property="carryGoodsBillDeposit" />
    <result column="carry_goods_insurance" jdbcType="DOUBLE" property="carryGoodsInsurance" />
    <result column="deal_goods_station" jdbcType="VARCHAR" property="dealGoodsStation" />
    <result column="dispatch_service_fee" jdbcType="DOUBLE" property="dispatchServiceFee" />
    <result column="driver_id" jdbcType="VARCHAR" property="driverId" />
    <result column="if_balance" jdbcType="VARCHAR" property="ifBalance" />
    <result column="insurance" jdbcType="DOUBLE" property="insurance" />
    <result column="linkman_phone" jdbcType="VARCHAR" property="linkmanPhone" />
    <result column="load_station" jdbcType="VARCHAR" property="loadStation" />
    <result column="receive_goods_detail_addr" jdbcType="VARCHAR" property="receiveGoodsDetailAddr" />
    <result column="receive_goods_linkman" jdbcType="VARCHAR" property="receiveGoodsLinkman" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sign_time" jdbcType="DATE" property="signTime" />
    <result column="start_advance" jdbcType="DOUBLE" property="startAdvance" />
    <result column="start_carry_time" jdbcType="DATE" property="startCarryTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_revert_bill_code, accept_station, all_carriage, arrive_time, back_bill_state,
    carriage_banlance_mode, carriage_mode, carry_goods_bill_deposit, carry_goods_insurance,
    deal_goods_station, dispatch_service_fee, driver_id, if_balance, insurance, linkman_phone,
    load_station, receive_goods_detail_addr, receive_goods_linkman, remark, sign_time,
    start_advance, start_carry_time
  </sql>
</mapper>
