<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.CompensationinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Compensationinfo">
    <!--@mbg.generated-->
    <!--@Table compensationinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="amends" jdbcType="DOUBLE" property="amends" />
    <result column="amends_time" jdbcType="DATE" property="amendsTime" />
    <result column="bad_destroy_goods" jdbcType="DOUBLE" property="badDestroyGoods" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="receive_station_id" jdbcType="INTEGER" property="receiveStationId" />
    <result column="receive_station_name" jdbcType="VARCHAR" property="receiveStationName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="write_date" jdbcType="DATE" property="writeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, amends, amends_time, bad_destroy_goods, customer, receive_station_id, receive_station_name,
    remark, write_date
  </sql>
</mapper>
