<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.ComplaintinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Complaintinfo">
    <!--@mbg.generated-->
    <!--@Table complaintinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="appeal_content" jdbcType="VARCHAR" property="appealContent" />
    <result column="appeal_date" jdbcType="VARCHAR" property="appealDate" />
    <result column="call_back_date" jdbcType="VARCHAR" property="callBackDate" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="deal_date" jdbcType="VARCHAR" property="dealDate" />
    <result column="deal_person" jdbcType="VARCHAR" property="dealPerson" />
    <result column="deal_result" jdbcType="VARCHAR" property="dealResult" />
    <result column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="if_callback" jdbcType="BIT" property="ifCallback" />
    <result column="if_handle" jdbcType="BIT" property="ifHandle" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, appeal_content, appeal_date, call_back_date, customer, deal_date, deal_person,
    deal_result, goods_bill_code, if_callback, if_handle
  </sql>
</mapper>
