<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.ContactsserviceMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Contactsservice">
    <!--@mbg.generated-->
    <!--@Table contactsservice-->
    <id column="send_goods_customer" jdbcType="VARCHAR" property="sendGoodsCustomer" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="bill_money" jdbcType="DOUBLE" property="billMoney" />
    <result column="carriage" jdbcType="DOUBLE" property="carriage" />
    <result column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="insurance" jdbcType="DOUBLE" property="insurance" />
    <result column="money_receivable" jdbcType="DOUBLE" property="moneyReceivable" />
    <result column="receive_goods_addr" jdbcType="VARCHAR" property="receiveGoodsAddr" />
    <result column="received_money" jdbcType="DOUBLE" property="receivedMoney" />
    <result column="send_goods_addr" jdbcType="VARCHAR" property="sendGoodsAddr" />
    <result column="send_goods_date" jdbcType="TIMESTAMP" property="sendGoodsDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    send_goods_customer, balance, bill_money, carriage, goods_bill_code, insurance, money_receivable,
    receive_goods_addr, received_money, send_goods_addr, send_goods_date
  </sql>
</mapper>
