<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.CustomerinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Customerinfo">
    <!--@mbg.generated-->
    <!--@Table customerinfo-->
    <id column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="enterprise_property" jdbcType="VARCHAR" property="enterpriseProperty" />
    <result column="enterprise_size" jdbcType="VARCHAR" property="enterpriseSize" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="linkman_mobile" jdbcType="VARCHAR" property="linkmanMobile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    customer_code, address, customer, customer_type, email, enterprise_property, enterprise_size,
    fax, linkman, linkman_mobile, phone, post_code
  </sql>
</mapper>
