<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.CustomerreceiptinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Customerreceiptinfo">
    <!--@mbg.generated-->
    <!--@Table customerreceiptinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="carry_bill_event_id" jdbcType="INTEGER" property="carryBillEventId" />
    <result column="check_goods_record" jdbcType="VARCHAR" property="checkGoodsRecord" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="receive_goods_date" jdbcType="DATE" property="receiveGoodsDate" />
    <result column="receive_goods_person" jdbcType="VARCHAR" property="receiveGoodsPerson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, carry_bill_event_id, check_goods_record, customer, goods_bill_code, receive_goods_date,
    receive_goods_person
  </sql>
</mapper>
