<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.CustomerbillclearMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Customerbillclear">
    <!--@mbg.generated-->
    <!--@Table customerbillclear-->
    <id column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="balance_time" jdbcType="DATE" property="balanceTime" />
    <result column="balance_type" jdbcType="VARCHAR" property="balanceType" />
    <result column="bill_money" jdbcType="DOUBLE" property="billMoney" />
    <result column="carriage_reduce_fund" jdbcType="DOUBLE" property="carriageReduceFund" />
    <result column="carry_goods_fee" jdbcType="DOUBLE" property="carryGoodsFee" />
    <result column="insurance" jdbcType="DOUBLE" property="insurance" />
    <result column="money_receivable" jdbcType="DOUBLE" property="moneyReceivable" />
    <result column="pay_kickback" jdbcType="DOUBLE" property="payKickback" />
    <result column="prepay_money" jdbcType="DOUBLE" property="prepayMoney" />
    <result column="received_money" jdbcType="DOUBLE" property="receivedMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_bill_code, customer_code, balance, balance_time, balance_type, bill_money,
    carriage_reduce_fund, carry_goods_fee, insurance, money_receivable, pay_kickback,
    prepay_money, received_money
  </sql>
</mapper>
