<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.DriveramountMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Driveramount">
    <!--@mbg.generated-->
    <!--@Table driveramount-->
    <id column="driver_code" jdbcType="VARCHAR" property="driverCode" />
    <result column="add_carriage_total" jdbcType="DOUBLE" property="addCarriageTotal" />
    <result column="carry_fee_total" jdbcType="DOUBLE" property="carryFeeTotal" />
    <result column="total" jdbcType="DOUBLE" property="total" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    driver_code, add_carriage_total, carry_fee_total, total
  </sql>
</mapper>
