<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.DriverclearMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Driverclear">
    <!--@mbg.generated-->
    <!--@Table driverclear-->
    <id column="back_bill_code" jdbcType="VARCHAR" property="backBillCode" />
    <result column="add_carriage" jdbcType="DOUBLE" property="addCarriage" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="balance_time" jdbcType="DATE" property="balanceTime" />
    <result column="balance_type" jdbcType="VARCHAR" property="balanceType" />
    <result column="bind_insurance" jdbcType="DOUBLE" property="bindInsurance" />
    <result column="carry_fee" jdbcType="DOUBLE" property="carryFee" />
    <result column="dispatch_service_fee" jdbcType="DOUBLE" property="dispatchServiceFee" />
    <result column="driver_code" jdbcType="VARCHAR" property="driverCode" />
    <result column="insurance" jdbcType="DOUBLE" property="insurance" />
    <result column="need_payment" jdbcType="DOUBLE" property="needPayment" />
    <result column="payed_money" jdbcType="DOUBLE" property="payedMoney" />
    <result column="prepay_money" jdbcType="DOUBLE" property="prepayMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    back_bill_code, add_carriage, balance, balance_time, balance_type, bind_insurance,
    carry_fee, dispatch_service_fee, driver_code, insurance, need_payment, payed_money,
    prepay_money
  </sql>
</mapper>
