<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.DriverinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Driverinfo">
    <!--@mbg.generated-->
    <!--@Table driverinfo-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="allow_carry_volume" jdbcType="DOUBLE" property="allowCarryVolume" />
    <result column="allow_carry_weight" jdbcType="DOUBLE" property="allowCarryWeight" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="biz_licence" jdbcType="VARCHAR" property="bizLicence" />
    <result column="car_dept" jdbcType="VARCHAR" property="carDept" />
    <result column="car_dept_tel" jdbcType="VARCHAR" property="carDeptTel" />
    <result column="car_frame_no" jdbcType="VARCHAR" property="carFrameNo" />
    <result column="car_length" jdbcType="VARCHAR" property="carLength" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="car_width" jdbcType="VARCHAR" property="carWidth" />
    <result column="company_car" jdbcType="BIT" property="companyCar" />
    <result column="drive_licence" jdbcType="VARCHAR" property="driveLicence" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="engine_no" jdbcType="VARCHAR" property="engineNo" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="goods_height" jdbcType="VARCHAR" property="goodsHeight" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="insurance_card" jdbcType="VARCHAR" property="insuranceCard" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="run_licence" jdbcType="VARCHAR" property="runLicence" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, address, allow_carry_volume, allow_carry_weight, birthday, biz_licence, car_dept,
    car_dept_tel, car_frame_no, car_length, car_no, car_type, car_width, company_car,
    drive_licence, driver_name, engine_no, gender, goods_height, id_card, insurance_card,
    phone, remark, run_licence, `state`
  </sql>
</mapper>
