<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.EmployeewageMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Employeewage">
    <!--@mbg.generated-->
    <!--@Table employeewage-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="allowance" jdbcType="DOUBLE" property="allowance" />
    <result column="basic_wage" jdbcType="DOUBLE" property="basicWage" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="employee" jdbcType="VARCHAR" property="employee" />
    <result column="employee_code" jdbcType="VARCHAR" property="employeeCode" />
    <result column="station_wage" jdbcType="DOUBLE" property="stationWage" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, allowance, basic_wage, `date`, employee, employee_code, station_wage
  </sql>
</mapper>
