<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.ExtraclearMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Extraclear">
    <!--@mbg.generated-->
    <!--@Table extraclear-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="balance_date" jdbcType="DATE" property="balanceDate" />
    <result column="balance_money" jdbcType="DOUBLE" property="balanceMoney" />
    <result column="balance_type" jdbcType="VARCHAR" property="balanceType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, balance_date, balance_money, balance_type, remark, subject_name
  </sql>
</mapper>
