<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.GoodsreceiptinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Goodsreceiptinfo">
    <!--@mbg.generated-->
    <!--@Table goodsreceiptinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="check_goods_record" jdbcType="VARCHAR" property="checkGoodsRecord" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="goods_revert_code" jdbcType="VARCHAR" property="goodsRevertCode" />
    <result column="rceive_goods_date" jdbcType="DATE" property="rceiveGoodsDate" />
    <result column="receive_goods_person" jdbcType="VARCHAR" property="receiveGoodsPerson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, check_goods_record, driver_name, goods_revert_code, rceive_goods_date, receive_goods_person
  </sql>
</mapper>
