<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.GoodsbillMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Goodsbill">
    <!--@mbg.generated-->
    <!--@Table goodsbill-->
    <id column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="accept_procedure_rate" jdbcType="VARCHAR" property="acceptProcedureRate" />
    <result column="accept_station" jdbcType="VARCHAR" property="acceptStation" />
    <result column="carriage" jdbcType="DOUBLE" property="carriage" />
    <result column="carry_goods_fee" jdbcType="DOUBLE" property="carryGoodsFee" />
    <result column="employee_code" jdbcType="VARCHAR" property="employeeCode" />
    <result column="fact_deal_date" jdbcType="DATE" property="factDealDate" />
    <result column="fetch_goods_mode" jdbcType="VARCHAR" property="fetchGoodsMode" />
    <result column="help_accept_payment" jdbcType="DOUBLE" property="helpAcceptPayment" />
    <result column="if_audit" jdbcType="BIT" property="ifAudit" />
    <result column="if_settle_accounts" jdbcType="BIT" property="ifSettleAccounts" />
    <result column="insurance" jdbcType="DOUBLE" property="insurance" />
    <result column="money_of_change_pay" jdbcType="DOUBLE" property="moneyOfChangePay" />
    <result column="pay_kickback" jdbcType="DOUBLE" property="payKickback" />
    <result column="pay_mode" jdbcType="VARCHAR" property="payMode" />
    <result column="predelivery_date" jdbcType="DATE" property="predeliveryDate" />
    <result column="receive_goods_addr" jdbcType="VARCHAR" property="receiveGoodsAddr" />
    <result column="receive_goods_customer" jdbcType="VARCHAR" property="receiveGoodsCustomer" />
    <result column="receive_goods_customer_addr" jdbcType="VARCHAR" property="receiveGoodsCustomerAddr" />
    <result column="receive_goods_customer_code" jdbcType="VARCHAR" property="receiveGoodsCustomerCode" />
    <result column="receive_goods_customer_tel" jdbcType="VARCHAR" property="receiveGoodsCustomerTel" />
    <result column="reduce_fund" jdbcType="DOUBLE" property="reduceFund" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="send_goods_addr" jdbcType="VARCHAR" property="sendGoodsAddr" />
    <result column="send_goods_customer" jdbcType="VARCHAR" property="sendGoodsCustomer" />
    <result column="send_goods_customer_addr" jdbcType="VARCHAR" property="sendGoodsCustomerAddr" />
    <result column="send_goods_customer_no" jdbcType="VARCHAR" property="sendGoodsCustomerNo" />
    <result column="send_goods_customer_tel" jdbcType="VARCHAR" property="sendGoodsCustomerTel" />
    <result column="send_goods_date" jdbcType="DATE" property="sendGoodsDate" />
    <result column="transfer_fee" jdbcType="DOUBLE" property="transferFee" />
    <result column="transfer_station" jdbcType="VARCHAR" property="transferStation" />
    <result column="validity" jdbcType="BIT" property="validity" />
    <result column="write_bill_person" jdbcType="VARCHAR" property="writeBillPerson" />
    <result column="write_date" jdbcType="DATE" property="writeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_bill_code, accept_procedure_rate, accept_station, carriage, carry_goods_fee,
    employee_code, fact_deal_date, fetch_goods_mode, help_accept_payment, if_audit, if_settle_accounts,
    insurance, money_of_change_pay, pay_kickback, pay_mode, predelivery_date, receive_goods_addr,
    receive_goods_customer, receive_goods_customer_addr, receive_goods_customer_code,
    receive_goods_customer_tel, reduce_fund, remark, send_goods_addr, send_goods_customer,
    send_goods_customer_addr, send_goods_customer_no, send_goods_customer_tel, send_goods_date,
    transfer_fee, transfer_station, validity, write_bill_person, write_date
  </sql>
</mapper>
