<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.IncomemonthlytempMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Incomemonthlytemp">
    <!--@mbg.generated-->
    <!--@Table incomemonthlytemp-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="biz_fee" jdbcType="DOUBLE" property="bizFee" />
    <result column="biz_income" jdbcType="DOUBLE" property="bizIncome" />
    <result column="car_carriage" jdbcType="DOUBLE" property="carCarriage" />
    <result column="carriage_money" jdbcType="DOUBLE" property="carriageMoney" />
    <result column="convey_wage" jdbcType="DOUBLE" property="conveyWage" />
    <result column="finance_fee" jdbcType="DOUBLE" property="financeFee" />
    <result column="house_rent" jdbcType="DOUBLE" property="houseRent" />
    <result column="income" jdbcType="DOUBLE" property="income" />
    <result column="insurance_money" jdbcType="DOUBLE" property="insuranceMoney" />
    <result column="manage_fee" jdbcType="DOUBLE" property="manageFee" />
    <result column="month" jdbcType="VARCHAR" property="month" />
    <result column="office_fee" jdbcType="DOUBLE" property="officeFee" />
    <result column="other" jdbcType="DOUBLE" property="other" />
    <result column="payout" jdbcType="DOUBLE" property="payout" />
    <result column="phone_fee" jdbcType="DOUBLE" property="phoneFee" />
    <result column="profit" jdbcType="DOUBLE" property="profit" />
    <result column="unbiz_income" jdbcType="DOUBLE" property="unbizIncome" />
    <result column="wage" jdbcType="DOUBLE" property="wage" />
    <result column="water_elec_fee" jdbcType="DOUBLE" property="waterElecFee" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, biz_fee, biz_income, car_carriage, carriage_money, convey_wage, finance_fee,
    house_rent, income, insurance_money, manage_fee, `month`, office_fee, other, payout,
    phone_fee, profit, unbiz_income, wage, water_elec_fee
  </sql>
</mapper>
