<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.RegionMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Region">
    <!--@mbg.generated-->
    <!--@Table region-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, city
  </sql>
</mapper>
