<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.SentlistMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.Sentlist">
    <!--@mbg.generated-->
    <!--@Table sentlist-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="back_cost" jdbcType="DOUBLE" property="backCost" />
    <result column="car_card_no" jdbcType="VARCHAR" property="carCardNo" />
    <result column="cash_pay" jdbcType="DOUBLE" property="cashPay" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_revert_bill_code" jdbcType="VARCHAR" property="goodsRevertBillCode" />
    <result column="help_accept_fund" jdbcType="VARCHAR" property="helpAcceptFund" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="pickup_pay" jdbcType="DOUBLE" property="pickupPay" />
    <result column="piece_amount" jdbcType="INTEGER" property="pieceAmount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="send_goods_customer" jdbcType="VARCHAR" property="sendGoodsCustomer" />
    <result column="send_goods_customer_tel" jdbcType="VARCHAR" property="sendGoodsCustomerTel" />
    <result column="transfer_destination" jdbcType="VARCHAR" property="transferDestination" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, back_cost, car_card_no, cash_pay, driver_name, goods_code, goods_name, goods_revert_bill_code,
    help_accept_fund, mobile, pickup_pay, piece_amount, remark, send_goods_customer,
    send_goods_customer_tel, transfer_destination, user_id
  </sql>
</mapper>
