<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.TransferinfoMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity.Transferinfo">
    <!--@mbg.generated-->
    <!--@Table transferinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="after_transfer_bill" jdbcType="VARCHAR" property="afterTransferBill" />
    <result column="check_time" jdbcType="DATE" property="checkTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="goods_bill_code" jdbcType="VARCHAR" property="goodsBillCode" />
    <result column="transfer_addr" jdbcType="VARCHAR" property="transferAddr" />
    <result column="transfer_check" jdbcType="VARCHAR" property="transferCheck" />
    <result column="transfer_company" jdbcType="VARCHAR" property="transferCompany" />
    <result column="transfer_fee" jdbcType="DOUBLE" property="transferFee" />
    <result column="transfer_station" jdbcType="VARCHAR" property="transferStation" />
    <result column="transfer_station_tel" jdbcType="VARCHAR" property="transferStationTel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, after_transfer_bill, check_time, description, goods_bill_code, transfer_addr,
    transfer_check, transfer_company, transfer_fee, transfer_station, transfer_station_tel
  </sql>
</mapper>
