<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.logistics.management.system.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.logistics.management.system.entity1.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="login_id" jdbcType="VARCHAR" property="loginId" />
    <result column="if_online" jdbcType="BIT" property="ifOnline" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    login_id, if_online, `password`
  </sql>
</mapper>
